.gif {
  background-image: url(https://media.giphy.com/media/F3MeJrQ9nHSArMQ1Ak/giphy.gif);
  background-size: cover;
  width: 1500px;
  height: 800px;
  background-repeat: no-repeat;
  margin-left: -50px;
  margin-top: 0px;
	/* background-position: center; */
	/* margin:auto; */
}